<footer class="panel-footer">
	<div class="container-fluid">
		<div class="row">
			<section id="hours" class="col-sm-4">
				<span>Delivery Hours:</span><br>
				Mon-Fri: 10:00am-10:00pm<br>
				Sat-Sun: 11:00am-11:00pm 
				<hr style="height:2px;border-width:0;color:white;background-color:gray"class="d-block d-sm-none">
	
			</section>
			<section id="address" class="col-sm-4">
				<p>* Delivery area- within Boisar, with minimum order of ₹50 + ₹30 for all deliveries.
				<hr style="height:2px;border-width:0;color:white;background-color:gray"
				class="d-block d-sm-none">
			</section>
			<section id="testimonials" class="col-sm-4">	<span>Phone No.-</span><br>
				<a href="tel:+919325922813">
				<span>+919325922813</span>
				</a>
				<p>100% SAFE and SANITISED</p>
			</section>
		</div>
		<div class="text-center">&copy;  2020 Food Oye
			<hr style="height:2px;border-width:0;color:white;background-color:gray"class="d-block d-sm-none">
			<hr style="height:2px;border-width:0;color:white;background-color:gray"class="d-block d-sm-none">
		</div>
		</div>
	</footer>