<header>
	<nav id="header-nav" class="navbar navbar-default">
		<div class="container.fluid">
			<div class="navbar-header">
				<a href="/" class="float-left">
					<img width="120" height="120" src="https://firebasestorage.googleapis.com/v0/b/food-oye-v1.appspot.com/o/app%2Flogo.jpg?alt=media&token=1931cdae-e664-4d0a-8a82-fe07ce9fc25e" alt="Logo Image">
				</a>

				<div class="navbar-brand">
					<a href="/"><h1>FOOD oye</h1></a>
					<p>
					HAVE IT HEALTHY, HAVE IT SAFE!
					</p>
				</div>

				<button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">☰ 
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div id="collapsable-nav" class="collapse navbar-collapse">
				<ul id="nav-list" class="nav navbar-nav navbar-right active">
					<li class="d-block d-sm-none active text-center">
						<a href="/">
							Home
						</a>
						<hr class="navbar-hr">
					</li>
					<li class="text-center">
						<a href="order.html">
							<span class="glyphicon glyphicon"></span>Place Order
						</a>
						<hr class="navbar-hr">

					</li>
					<li class="text-center">
						<a href="#">
							<span class="glyphicon"></span><br class="d-none d-lg-block">About
						</a>
						<hr class="navbar-hr">
					</li>	
					<li id="phone" class="hidden-xs text-center">
						<a href="tel:+919325922813">
							<span>+919325922813</span>
						</a>
					</li>
				</ul>
			</div>

		</div>
	</nav>
</header>