<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="food, boisar, online, ordering, food oye, home delivery">
		<meta name="description" content="A Boisar based food ordering web app.">
		<meta name="author" content="Rajat Joshi, Harsh Kapadia">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

		<!-- Bootstrap JS, Popper.js, and jQuery -->
		<script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

		<!-- Custom CSS -->
		<link rel="stylesheet" href="/public/css/style.css">

		<!-- Favicon -->
		<link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/food-oye-d8e3b.appspot.com/o/app%2Ffavicon.ico?alt=media&token=34e815db-edb6-4ac0-9158-5350f69e0aad" type="image/x-icon">

		<%- headContent %>
	</head>

	<body>
		<%- include("./partials/header.ejs"); %>

		<%- bodyContent %>

		<%- include("./partials/footer.ejs"); %>
	</body>
</html>