<%- contentFor("headContent") %>
<title>Hotel's name</title>

<%- contentFor("bodyContent") %>
<div id="hotelA" class="container-fluid text-center"><br>
	<img width="350" height="200" src="../img/dish11400px.jpg" class="hotelA-image">
	<h2 id="headingHotelA">HOTEL A</h2>
	<img class="ratingstars" width="80" height="20" src="../img/ratingstars.jpg"><span>  || Pure Veg || Multi-Cuisine<span><br>
	<span >
	Mahavir Shrusti, Shop No.11,12, Navapur Road, Boisar Maharashtra 401501<br>
	Kitchen Timings:-<br> 11:30am-3:30pm || 8:00pm-11:30pm
</span>
</div>

<section class="row container">
	<div class="col-md-3 col-sm-4 col-xs-4 col-6">
		<a href="paneer.html">
				<div id="paneermenu-tile">
					<img width="150" height="150" src="../img/paneer.jpg">
					<span>Paneer<br>
					</span>
				</div>
			</a>
	</div>
		<div class="col-md-3 col-sm-4 col-xs-4 col-6">
		<a href="paneer.html">
				<div id="mushroommenu-tile">
					<img width="150" height="150" src="../img/mushroom.jpg">

					<span>Mushroom <br>
					</span>
				</div>
			</a>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-4 col-6">
		<a href="dal.html">
				<div id="dalmenu-tile">
					<img width="150" height="150" src="../img/dal.jpg">

					<span>dal<br>
					</span>
				</div>
			</a>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-4 col-6">
		<a href="paneer.html">
				<div id="currymenu-tile">
					<img width="150" height="150" src="../img/curry.jpg">

					<span>curry<br>
					</span>
				</div>
			</a>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-4 col-6">
		<a href="paneer.html">
				<div id="basicsabjimenu-tile">
					<img width="150" height="150" src="../img/common.jpg">

					<span>basic sabji<br>
					</span>
				</div>
			</a>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-4 col-6">
		<a href="paneer.html">
				<div id="rotimenu-tile">
					<img width="150" height="150" src="../img/roti.jpg">

					<span>roti<br>
					</span>
				</div>
			</a>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-4 col-6">
		<a href="paneer.html">
				<div id="raitamenu-tile">
					<img width="150" height="150" src="../img/raita.jpg">

					<span>raita<br>
					</span>
				</div>
			</a>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-4 col-6">
		<a href="paneer.html">
				<div id="khichdimenu-tile">
					<img width="150" height="150" src="../img/khichdi.jpg">

					<span>khichdi<br>
					</span>
				</div>
			</a>
	</div>
</section>
</div>