* {
	box-sizing: border-box;	
}

body {
	color: black;
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	background-color: white ;
}

#header-nav {
	color: black;
	background-color: #000;
	border-radius: 0;
	border: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
	color: white;
}

.navbar-brand {
	padding-top: 25px;
}

#nav-list {
	margin-top: 10px;
	color: white;
	text-align: right;
}


#nav-list a:hover {
	background: white;
}


#nav-list a span {
	font-size: 1.2em;
}


#phone {
	margin-top: 5px;
}


#phone a {
	text-align: right;
	padding-bottom: 0;
}


#phone div {
	color: #557c3e;
	text-align: right;
	padding-right: 15px;
}

.navbar-brand h1 {
	font-family: 'Oxygen', sans-serif;
	color: white;
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 2px 2px 2px red;
	line-height: .75;
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 15px;
	line-height: .75;
}

.navbar-brand {
	text-transform: uppercase;
	font-size: .9em;
	margin-top: 15px;
}

.navbar-brand p {
	vertical-align: middle;
	margin-left: 15px;
}


.navbar-brand > img{
	display: block;
}


.checkoutbtn {
	font-size: 0.8em;
	vertical-align: middle;
	height: 30px;
	position: relative;	
	top: 8px;

}


.cartbtn {
	background-color: black;
}


@media (min-width: 768px) {
	.navbar > .container .navbar-brand,
	.navbar > .container.fluid .navbar-brand {
		margin-left: -15px;
	}

}


@media (min-width: 1200px) {
	.shop-item-details span {
	position: relative;
	top: -25px;
	left: -400px;
	width: 100%;
	text-align: center;
	font-size: 0.9em;
	text-transform: uppercase;
	background-color: #fff;
	font-weight: bold;
	color: #000;
	opacity: 0.9;
	}

	
}


@media (min-width: 992px) and (max-width: 1199px) {
		.shop-item-details span {
	position: relative;
	top: -25px;
	left: -350px;
	width: 100%;
	text-align: center;
	font-size: 0.9em;
	text-transform: uppercase;
	background-color: #fff;
	font-weight: bold;
	color: #000;
	opacity: 0.9;
	}
}


@media (min-width: 768px) and (max-width: 991px) {
	.shop-item-details span {
	position: relative;
	top: -25px;
	left: -250px;
	width: 100%;
	text-align: center;
	font-size: 0.9em;
	text-transform: uppercase;
	background-color: #fff;
	font-weight: bold;
	color: #000;
	opacity: 0.9;
	}
}



@media (max-width: 767px) {
	.navbar-brand {
		padding-top: 0px;
		height: 5vw;
	}

	.navbar-brand h1 {
	font-family: 'Oxygen', sans-serif;
	color: white;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 2px 2px 6px silver;
	line-height: 0.9;
	margin-bottom: 10px;
	margin-left: 10px;
	}


	.navbar-brand p {
		text-transform: uppercase;
		font-size: 0.5em;
		margin-left: 5px;
		font-weight: bold;
		text-shadow: 2px 2px 4px silver;
		color: white;
		margin-left: 10px;
	}

	#collapsable-nav {
	color: white;
	}


	#collapsable-nav a:hover, .navbar-brand a:focus {
	text-decoration: none;
	text-decoration-color: white;
	}

	.panel-footer section {
	margin-bottom: 30px;
	text-align: center;
	}
	.panel-footer section:nth-child(3) {
	margin-bottom: 0;
	}
	.panel-footer section hr{
	width: 50%;
	}

	.shop-item-details span {
	position: relative;
	top: -25px;
	left: -85px;
	width: 100%;
	text-align: center;
	font-size: 0.9em;
	text-transform: uppercase;
	background-color: #fff;
	font-weight: bold;
	color: #000;
	opacity: 0.9;
	}


}


.navbar-toggle {
	position: relative;
	top: 20px;
	left: 20px;
	float: right;
	padding: 9px 10px;
	margin-right: 15px;
	background-color:#E94B3CFF ;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: white;
	color: black;
	line-height: .2em;
}

.cart-row > .cart-item-title{
	font-size: 12px;
	width: 50%;
}

.navbar-hr {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    -moz-float-edge: margin-box;
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    margin: 0.5em 2px 2px;
}

#main-content > span {
	width: 100%;
	font-family: 'Oxygen', sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	text-shadow: 0 0 2px #cccccc;
	text-transform: uppercase;
}

.panel-footer {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top: 0;
	color: white;
}

.panel-footer div.row {
	margin-bottom: 2;
}
#hours > span, #address > span, #testimonials > p{
	font-size: 0.8em;
}

#address p {
	color: lightblue;
	font-size: .85em;
	line-height: 2;
}

#testimonials {
	font-style: italic;
}

#testimonials p {
	margin-top: 25px;
}

#testimonials span:nth-child(1) {
	font-size: 1.2em;
}

#hotelA-tile, #hotelB-tile, #hotelC-tile, #hotelD-tile, #hotelE-tile, #hotelF-tile {
	height: 90px;
	width: 170px;
	margin-bottom: 15px;
	overflow: hidden;
	background-color: white;
	box-shadow: 0 2px 5px #3F0C1F;
	margin-left: -6px;

}


#hotelA-tile span, #hotelB-tile span, #hotelC-tile span, #hotelD-tile span, #hotelE-tile span, #hotelF-tile span {
	font-size: 0.9em;
	text-transform: uppercase;
	background-color: #fff;
	font-weight: bold;
	color: #000;
}

#headingHotelA, .ratingstars {
	font-size: 1.7em;
	position: relative;
	left: 0px;
	top: -200px;
	text-align: center;
	font-weight: bold;
	color: #000;
}

.hotelA-image {
	width: 100%;
	opacity: 0.4;
}


#hotelA > span {
	margin-bottom: 5px;
	position: relative;
	top: -200px;
	width: 100%;
	text-align: center;
	font-size: 0.65em;
	font-weight: bold;
	color: #000;
}


#paneermenu-tile, #mushroommenu-tile, #dalmenu-tile, #currymenu-tile, #basicsabjimenu-tile, #rotimenu-tile, #raitamenu-tile, #khichdimenu-tile {
	position: relative;
	top: -140px;
	border: 2px solid lightgray;
	overflow: hidden;
	width: 150px;
	height: 150px;
	margin-left: 10px;
	margin-bottom: 15px;
	margin-right: 10px;
}

#paneermenu-tile span, #mushroommenu-tile span, #dalmenu-tile span, #currymenu-tile span, #basicsabjimenu-tile span, #rotimenu-tile span, #raitamenu-tile span, #khichdimenu-tile span{
	position: absolute;
	top: 125px;
	width: 100%;
	text-align: center;
	font-size: 0.85em;
	text-transform: uppercase;
	background-color: #fff;
	font-weight: bold;
	color: #000;
	opacity: 0.9;
}


#paneermenu-tile:hover, #mushroommenu-tile:hover, #dalmenu-tile:hover, #currymenu-tile:hover, #basicsabjimenu-tile:hover, #rotimenu-tile:hover, #raitamenu-tile:hover, #khichdimenu-tile:hover {
	box-shadow: 0 1px 5px 1px black;
}

#details-pasanda span, #details-makhanwala span, #details-chilli span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: .9em;
	text-transform: uppercase;
	background-color: #fff;
	color: #000;
	opacity: 0.8;
	font-weight: bold;
}


h2{
	font-weight: bold;
	font-family: 'Oxygen' , sans-serif;
	font-size: 1.7em;
	color: green;
}



#details {
	font-size: .8em;
	font-weight: bold;
}

.note{
	color: red;
	font-size: 0.8em;
}


.order-button {
	line-height: 1.5em;
	border: 2px solid lightgray;
	width: 250px;
	font-size: 0.9em;
	margin-left: 15%;
}

.order-button a:hover, .order-button a:focus {
	text-decoration: none;
	color: white;
}


.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.shop-item-title {
	text-align: center;
	font-size: .95em;
	text-transform: uppercase;
	background-color: white;
	font-weight: bold;
	color: #333;
	opacity: 0.9;
}

/*.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}*/

.shop-item-image {
    height: 200px;
    width: 200px;
}

/*.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}*/

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-item-button {
	position: relative;
	left: -0px;
}





.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 50%;
}

.cart-price {
    width: 15%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.4em;
}

.login-details {
	position: absolute;
	top: 180px;
	left: 35px;
	background-color: lightgray;
	width: 300px;
	height: 220px;
	border: 3px solid white;
}

.login-details > span {
	font-size: 1.1em;	
}

.loginbg {
	width: 100%;
	height: 670px;	
	opacity: 0.6;
}
